body {
  font-family: 'Calibri';
  background-color: beige;
  color: #011EFA;
  padding: 10px 5px;
}

h1 {
  font-weight: bold;
  font-size: xx-large;
  padding: 5px 0px 5px 0px;
}

h2 {
  font-weight: bold;
  font-size: x-large;
  text-decoration: underline;
}

a {
  color: #011EFA;
  text-decoration: none;
}

#summary {
  color: black;
  background-color: aliceblue;
  border: solid black 2px;
  font-weight: bold;
  font-size: medium;
  text-align: center;
}

.summary_border {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  padding: 10px 5px;
}


#bio {
  color: black;
  padding: 5px;
  display: inline;
}

#bio h2 {
  color: #011EFA;
  padding: 5px;
}

#bio p {
  padding: 5px;
}

#education {
  padding: 10px 5px;
  display: inline-block;
  border: solid black 2px;
}

#experience h2, #education h2, #goals h2 {
  text-align: center;
}

#experience, #education {
  vertical-align: top;
  width: 45%;
  margin: 10px 2px;
}

.schooling {
  color: black;
  padding: 5px 0px 5px;
  margin: 2px;
}

.schooling h4 {
  font-weight: bold;
}

.schooling h6 {
  color: lightslategray;
  font-style: italic;
}

.jobs {
  color: black;
  padding: 5px 0px 5px;
  margin: 2px;
}

.jobs h4 {
  font-weight: bold;
}

.jobs h6 {
  color: lightslategray;
  font-style: italic;
}

.jobs p {
  padding: 2px 0px 0px;
}

#experience {
  padding: 10px 5px;
  border: solid black 2px;
  display: inline-block;
}

#goals {
  padding: 10px 5px;
  margin: 2px;
  border: solid black 2px;
  display: inline-block;  
}

#goals ol li {
  color: black;
  padding: 5px 0px 0px;
  list-style-type: decimal;
  list-style-position: inside;
}

#goals ol li::marker {
  font-weight: bold;
}

#quiz {
  padding: 5px 5px;
  margin: 5px;
  border: solid black 2px;
  width: fit-content;
  text-align: center;
  float: right;
  position: absolute;
  top: 90px;
  right: 50px;
}

button {
  color: #011EFA;
  background-color: #FAF419;
  border: solid #011EFA 2px;
  font-size: medium;
  font-weight: bold;
  margin-top: 10px;
}

button:hover {
  color: #FAF419;
  background-color: #011EFA;
  border: solid #FAF419 2px;
}

#top10 {
  margin: 2px;
  padding: 10px 5px;
  border: solid black 2px;
  width: fit-content;
  display: inline-block;
}

#top10 h2 {
  text-align: center;
}

#top10 ol li {
  color: black;
  padding: 5px 0px;
  list-style-type: decimal;
  list-style-position: inside;
}

#top10 ol li::marker {
  font-weight: bold;
}

footer {
  font-weight: bold;
  font-size: small;
  position: bottom;
  padding: 10px;
}

#profilepic {
  width: 250px;
  float: left;
  padding: 15px 10px 5px 0px;
}

.bottomsection {
  margin: 10px;
}

.midsection {
  align-items: center;
}

#goals, #top10 {
  width: 45%;
  vertical-align: top;
}
